.btn-auto-size{display:block;float:left;margin:3px 4px;line-height:22px;height:22px;font-size:1em;background:#5AB6E6;
    border:1px solid #4191BB;padding:0.1em 0.4em;cursor:pointer;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;color: #fff !important;}
.btn-auto-size:hover{background:#0271AC}
